# Prerequisites
yoctocore.uf2
web/*pem
*pdf
*.npy
*.d
*LuaJS/*

package-lock.json
test.py
recalibration.js
settings.json
pico-extras/
dev/calibrations/*
build/
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
main
*.csv
*.map
*.exp

script.c
sequins.c

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
lib/tests/spiral/data.txt
lib/tests/spiral/out
lib/tests/scales/out
lib/script.h
lib/sequins.h
lib/web_static_globals.h
lib/lua_globals.h
dev/channel_plots.pdf
