name: build

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout project
        uses: actions/checkout@v4.2.1
      - name: Setup Go
        uses: actions/setup-go@v5
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'latest' # or the version you need
      - name: Install luamin
        run: |
          npm install -g luamin
          echo "::add-path::$(npm bin -g)"
          luamin --version
      - name: Install Pico SDK dependencies
        run: |
          sudo apt update
          sudo apt install cmake gcc-arm-none-eabi libnewlib-arm-none-eabi build-essential gcc wget tar
      - name: Checkout pico-sdk
        uses: actions/checkout@v4.2.1
        with:
          repository: raspberrypi/pico-sdk
          path: pico-sdk
          submodules: true
          ref: 1.5.1
      - name: Patch tinyusb
        run: |
          sed -i 's/OSAL_TIMEOUT_WAIT_FOREVER/OSAL_TIMEOUT_NORMAL/g' $GITHUB_WORKSPACE/pico-sdk/lib/tinyusb/src/tusb.c
          cat $GITHUB_WORKSPACE/pico-sdk/lib/tinyusb/src/tusb.c | grep osal_mutex
      - name: Set PICO_SDK_PATH
        run: echo "PICO_SDK_PATH=$GITHUB_WORKSPACE/pico-sdk" >> $GITHUB_ENV
      - name: Build yoctocore
        run: |
          make yoctocore
