<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>yoctocore</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="/static/tiny-brutalism.css">
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      min-height: 100vh;
      margin: 0;
      padding: 1em;
    }


    .inactive {
      color: gray;
      background-color: #f0f0f0;
    }

    .fr {
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }

    .center {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    #app {
      width: 100%;
      max-width: 800px;
      margin: 4em;
    }

    .active {
      font-weight: bold;
      /* add a shdwo to the top + left */
      box-shadow: -6px -6px 0 #000;

    }


    .button-row {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }

    .output-details {
      margin-top: 20px;
    }

    .mode-manual {
      background-color: #fff;
      color: black;
    }

    .mode-midi-pitch {
      background-color: #FF000057;
      color: black;
    }

    .mode-midi-envelope {
      background-color: #FFAA3357;
      color: black;
    }

    .mode-midi-cc {
      background-color: #FFEA0057;
      color: black;
    }

    .mode-clock {
      background-color: #32CD3257;
      color: black;
    }

    .mode-lfo {
      background-color: #7DF9FF57;
      color: black;
    }

    .mode-sequencer {
      background-color: #0096FF57;
      color: black;
    }

    .mode-code {
      background-color: #CBC3E3;
      color: black;
    }

    #app {
      border: solid #000;
      background: #ff;
      padding: 2em;
      box-shadow: 8px 8px 0px #000000;
    }

    input:disabled,
    select:disabled {
      background-color: #f0f0f0;
      /* Light gray background */
      color: #a0a0a0;
      /* Dimmed text color */
      border: 1px solid #d0d0d0;
      /* Lighter border */
      cursor: not-allowed;
      /* Indicate the input is not clickable */
    }

    input:disabled:hover,
    select:disabled:hover {
      background-color: #f0f0f0;
      /* Prevent hover styles
      */
    }

    .grayed {
      color: #a0a0a0;
    }

    .routing div:not(:first-child) {
      margin-left: 0.5em;
    }

    .sparkline {
      width: 100%;
      height: 35px;
      /* Adjust as needed */
      display: block;
      margin-bottom: 0.25em;
    }
  </style>
  <!-- codemirror -->
  <script src="/static/codemirror.js"></script>
  <link rel="stylesheet" href="/static/codemirror.css">
  <script src="/static/lua.js"></script>
  <script src="/static/lua.vm.js"></script>
  <script src="/static/lua-formatter.js"></script>

  <style>
    .CodeMirror {
      border: black;
      border-style: solid;
      box-shadow: 6px 6px black;
      border-width: 1.5px;
      min-height: 5em;
    }
  </style>
</head>

<body>
  <div id="app" class="app">
    <h1>yoctocore</h1>
    <h2>Control Panel <button @click="doBoardReset()">Reset</button></h2>
    <!-- check if device connected -->
    <div>
      <h3>MIDI routing</h3>
    </div>
    <div class="row routing" style="padding-bottom:1em;">
      <!-- Buttons for pass through -->
      <div class="col col-3" v-for="(isActive, inputName) in midi_input_active" :key="inputName">
        <button :class="{ active: isActive, inactive: !isActive }" @click="toggleActivation(inputName)"
          style="font-size:0.9em;">
          {{ inputName }} {{ isActive ? 'Active' : 'Inactive' }}
          {{ midi_input_last_message[inputName] }}
        </button>
      </div>
    </div>
    <div v-if=" !device_connected">
      <h3>Device not connected</h3>
    </div>
    <div v-else>
      <h3>Device connected</h3>
    </div>
    <!-- Scene Selection Dropdown -->
    <div class="dropdown">
      <label for="scene-select">Select Scene:</label>
      <select id="scene-select" v-model="current_scene">
        <option v-for="(scene, index) in scenes" :key="index" :value="index">
          Scene {{ index + 1 }}
        </option>
      </select>
    </div>


    <!-- spark lines -->

    <!-- Output Selection Buttons -->
    <!-- label for button row -->
    <h3>Outputs</h3>
    <div class="button-row row">
      <div class="col col-1" v-for="(output, index) in scenes[current_scene].outputs" :key="index">
        <canvas :id="'sparkline-' + index" class="sparkline"></canvas>
        <button
          :class="[current_output !== index && 'inactive', current_output === index && 'active', getButtonClass(output.mode)]"
          @click="select_output(index)">
          {{ index + 1 }}
        </button>
      </div>
    </div>

    <!-- Output Details -->
    <div class="output-details" v-if="current_output !== null">
      <div class="row">
        <div class="col col-2 fr">
          <label for=" mode-select">Select Mode:</label>
        </div>
        <div class="col col-10">
          <select id="mode-select" v-model="selected_output.mode">
            <option value=0>Manual</option>
            <option value=1>MIDI Pitch</option>
            <option value=2>MIDI Envelope</option>
            <option value=3>MIDI CC</option>
            <option value=4>Clock</option>
            <option value=5>LFO</option>
            <option value=6>Sequencer</option>
            <option value=7>Code</option>
          </select>
        </div>
      </div>
      <!-- sequencer -->
      <div class="row" v-if="[6].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="sequence">
            Duration:
          </label>
        </div>
        <div class="col col-4">
          <input id="sequence" type="text" v-model="selected_output.duration" />
        </div>
        <div class="col col-2 fr">
          <label for="voltage_setpoint">
            Setpoint:
          </label>
        </div>
        <div class="col col-4">
          <input type="number" v-model.number="selected_output.voltage_setpoint" min="-5" max="10" step="0.01" />
        </div>
      </div>
      <!-- code -->
      <div class="row" style="padding-left:1.5em; padding-bottom:1.5em;"
        v-if="[7].includes(Number(selected_output.mode))">
        <div class=" col-6">
          <textarea id="mytext" v-model="selected_output.code"></textarea>
          <!-- <p>{{ selected_output.code }}</p> -->
        </div>
        <div class="col col-1" style="padding-left:1em;">
          <button @click="executeLua()">Test</button>
        </div>
        <div class="col col-4">
          <textarea id="output"></textarea>
        </div>
      </div>

      <!-- manual -->
      <div class="row">
        <div class="col col-2 fr">
          <label>
            Voltage min:
          </label>
        </div>
        <div class="col col-4">
          <input type="number" v-model.number="selected_output.min_voltage" min="-5" max="10" step="0.01" />
        </div>
        <div class="col col-2 fr">
          Voltage max:
        </div>
        <div class="col col-4">
          <input type="number" v-model.number="selected_output.max_voltage" min="-5" max="10" step="0.01" />
        </div>
      </div>
      <div class="row" v-if="[0,1,7].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="slew-rate">Slew:</label>
        </div>
        <div class="col col-4">
          <input id="slew-rate" type="number" v-model.number="selected_output.slew_time" />
        </div>
        <div class="col col-2 fr">
          <label for="portamento">Portamento:</label>
        </div>
        <div class="col col-4">
          <input id="portamento" type="number" v-model.number="selected_output.portamento" />
        </div>
      </div>
      <!-- lfo stuff -->
      <div class="row" v-if="[5].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="lfo-waveform">
            LFO waveform:
          </label>
        </div>
        <div class="col col-4">
          <select id="lfo-waveform" v-model="selected_output.lfo_waveform">
            <option value=0>Sine</option>
            <option value=1>Triangle</option>
            <option value=2>Sawtooth</option>
            <option value=3>Square</option>
            <option value=4>Drunk</option>
          </select>
        </div>
        <div class="col col-2 fr">
          <label for="lfo-period">
            Period:
          </label>
        </div>
        <div class="col col-4">
          <input id="lfo-rate" type="number" v-model.number="selected_output.lfo_period" min="0.1" max="10"
            step="0.1" />
        </div>
      </div>

      <!-- attack / decay / sustain / release -->
      <div class="row" v-if="[2].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="attack">
            Attack:
          </label>
        </div>
        <div class="col col-4">
          <input id="attack" type="number" v-model.number="selected_output.attack" min="0" max="10" step="0.01" />
        </div>
        <div class="col col-2 fr">
          <label for="decay">
            Decay:
          </label>
        </div>
        <div class="col col-4">
          <input id="decay" type="number" v-model.number="selected_output.decay" min="0" max="10" step="0.01" />
        </div>
      </div>
      <div class="row" v-if="[2].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="sustain">
            Sustain:
          </label>
        </div>
        <div class="col col-4">
          <input id="sustain" type="number" v-model.number="selected_output.sustain" min="0" max="1" step="0.01" />
        </div>
        <div class="col col-2 fr">
          <label for="release">
            Release:
          </label>
        </div>
        <div class="col col-4">
          <input id="release" type="number" v-model.number="selected_output.release" min="0" max="10" step="0.01" />
        </div>
      </div>

      <!-- linked to -->
      <div class="row" v-if="[2].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="linked-to">
            Linked to:
          </label>
        </div>
        <div class="col col-10">
          <select id="linked-to" v-model="selected_output.linked_to">
            <option value=0>None</option>
            <option v-for="(output, index) in scenes[current_scene].outputs" :key="index" :value="index+1">
              Output {{ index + 1 }}
            </option>
          </select>
        </div>
      </div>
      <div class="row" v-if="[0,1,5,6,7].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="quantization">
            Quantize:
          </label>
        </div>
        <div class="col col-4">
          <select id="quantization" v-model="selected_output.quantization">
            <option value=0>None</option>
            <option value=1>Chromatic</option>
            <option value=2>Major</option>
            <option value=3>Natural Minor</option>
            <option value=4>Harmonic Minor</option>
            <option value=5>Melodic Minor</option>
            <option value=6>Dorian</option>
            <option value=7>Phrygian</option>
            <option value=8>Lydian</option>
            <option value=9>Mixolydian</option>
            <option value=10>Locrian</option>
            <option value=11>Whole Tone</option>
            <option value=12>Major Pentatonic</option>
            <option value=13>Minor Pentatonic</option>
            <option value=14>Major Bebop</option>
            <option value=15>Altered Scale</option>
            <option value=16>Dorian Bebop</option>
            <option value=17>Mixolydian Bebop</option>
            <option value=18>Blues Scale</option>
            <option value=19>Diminished Whole Half</option>
            <option value=20>Diminished Half Whole</option>
            <option value=21>Neapolitan Major</option>
            <option value=22>Hungarian Major</option>
            <option value=23>Harmonic Major</option>
            <option value=24>Hungarian Minor</option>
            <option value=25>Lydian Minor</option>
            <option value=26>Neapolitan Minor</option>
            <option value=27>Major Locrian</option>
            <option value=28>Leading Whole Tone</option>
            <option value=29>Six Tone Symmetrical</option>
            <option value=30>Balinese</option>
            <option value=31>Persian</option>
            <option value=32>East Indian Purvi</option>
            <option value=33>Oriental</option>
            <option value=34>Double Harmonic</option>
            <option value=35>Enigmatic</option>
            <option value=36>Overtone</option>
            <option value=37>Eight Tone Spanish</option>
            <option value=38>Prometheus</option>
            <option value=39>Gagaku Rittsu Sen Pou</option>
            <option value=40>In Sen Pou</option>
            <option value=41>Okinawa</option>
          </select>
        </div>
        <div class="col col-1 fr">
          <label for="v_oct" :class="{ grayed: Number(selected_output.quantization) === 0 }">
            V/Oct:
          </label>
        </div>
        <div clas="col col-1">
          <input id="v_oct" type="number" :disabled="Number(selected_output.quantization) === 0"
            v-model.number="selected_output.v_oct" min="-5" max="10" step="0.01" />
        </div>
        <div class="col col-1 fr">
          <label for="root_note" :class="{ grayed: Number(selected_output.quantization) === 0 }">
            Root:
          </label>
        </div>
        <div class="col col-2">
          <select id="root_note" :disabled="Number(selected_output.quantization) === 0"
            v-model.number="selected_output.root_note">
            <option v-for="(name, index) in note_names" :key="index" :value="index">
              {{ name }}
            </option>
          </select>
        </div>
      </div>
      <!-- midi stuff -->
      <div class="row" v-if="[3].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="midi-cc">
            MIDI CC:
          </label>
        </div>
        <div class="col col-10">
          <input id="midi-cc" type="number" v-model.number="selected_output.midi_cc" min="0" max="16" />
        </div>
      </div>
      <!-- midi stuff -->
      <div class="row" v-if="[1,3].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="midi-channel">
            MIDI Channel:
          </label>
        </div>
        <div class="col col-4">
          <select id="midi-channel" v-model="selected_output.midi_channel">
            <option value=0>Any</option>
            <option value=1>Channel 1</option>
            <option value=2>Channel 2</option>
            <option value=3>Channel 3</option>
            <option value=4>Channel 4</option>
            <option value=5>Channel 5</option>
            <option value=6>Channel 6</option>
            <option value=7>Channel 7</option>
            <option value=8>Channel 8</option>
            <option value=9>Channel 9</option>
            <option value=10>Channel 10</option>
            <option value=11>Channel 11</option>
            <option value=12>Channel 12</option>
            <option value=13>Channel 13</option>
            <option value=14>Channel 14</option>
            <option value=15>Channel 15</option>
            <option value=16>Channel 16</option>
          </select>
        </div>
        <div class="col col-2 fr">
          <label for="midi-priority-channel">
            MIDI Priority:
          </label>
        </div>
        <div class="col col-4">
          <select id="midi-priority-channel" v-model="selected_output.midi_priority_channel">
            <option value=0>None</option>
            <option value=1>Channel 1</option>
            <option value=2>Channel 2</option>
            <option value=3>Channel 3</option>
            <option value=4>Channel 4</option>
            <option value=5>Channel 5</option>
            <option value=6>Channel 6</option>
            <option value=7>Channel 7</option>
            <option value=8>Channel 8</option>
            <option value=9>Channel 9</option>
            <option value=10>Channel 10</option>
            <option value=11>Channel 11</option>
            <option value=12>Channel 12</option>
            <option value=13>Channel 13</option>
            <option value=14>Channel 14</option>
            <option value=15>Channel 15</option>
            <option value=16>Channel 16</option>
          </select>
        </div>
      </div>


      <!-- clock stuff -->
      <div class="row" v-if="[4].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="clock-tempo">
            Clock tempo:
          </label>
        </div>
        <div class="col col-10">
          <input id="clock-tempo" type="number" v-model.number="selected_output.clock_tempo" min="15" max="300" />
        </div>
      </div>
      <div class="row" v-if="[4].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="clock-divider">
            Clock division:
          </label>
        </div>
        <div class="col col-10">
          <select id="clock-divider" v-model="selected_output.clock_division">
            <!-- clockDivisions for loop -->
            <option v-for="(clockDivision, index) in clockDivisions" :key="index" :value="index">
              {{ clockDivision }}
            </option>
          </select>
        </div>

      </div>
      <!-- random stuff -->
      <div class="row" v-if="[1].includes(Number(selected_output.mode))">
        <div class="col col-2 fr">
          <label for="probability">
            Chance (%):
          </label>
        </div>
        <div class="col col-10">
          <input id="probability" type="number" v-model.number="selected_output.probability" min="0" max="100"
            step="1" />
        </div>
      </div>


    </div>
  </div>

  <script src="/static/app.js"></script>
  <!-- add lua minifier from cdn -->
  <script type="text/javascript">
    //   // CodeMirror
    //   var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('mytext'));
    // // Add line numbers
    // myCodeMirror.setOption("lineNumbers", true);
    // // Set size
    // myCodeMirror.setSize("100%", "100%");

    //   var outputCodeMirror = CodeMirror.fromTextArea(document.getElementById('output'));
    //   // Add line numbers
    //   outputCodeMirror.setOption("lineNumbers", true);
    //   // Set size
    //   outputCodeMirror.setSize("100%", "100%");

    //   // Execution
    //   var outputElement = document.getElementById('output');
    //   emscripten.print = function (x) {
    //     // Ensure the content doesn't persist between runs
    //     outputElement.textContent = (outputElement.textContent ? outputElement.textContent + '\n' : '') + x;
    //   };

    //   // Load data from /static/sequins.lua
    //   let sequins_lua = "";
    //   fetch('/static/sequins.lua')
    //     .then(response => response.text())
    //     .then(data => {
    //       sequins_lua = data;
    //     });

    //   function executeLua(code, clear) {
    // // Clear the outputCodeMirror and outputElement at the start of execution
    // outputCodeMirror.setValue(''); // Clear the CodeMirror output
    // outputElement.textContent = ''; // Clear the text content for the buffer

    // let new_code = code;
    // try {
    //   new_code = LuaFormatter.minifyLua(code).trim();
    //   myCodeMirror.setValue(LuaFormatter.beautifyLua(new_code).trim());
    // } catch {
    //   // Do nothing
    // }

    // let space_savings = `-- ${new_code.length} bytes`;
    // try {
    //   L.execute(sequins_lua + new_code);
    // } catch (e) {
    //   outputCodeMirror.setValue(e.toString());
    //   return;
    // }
    // let returnedText = space_savings + '\n' + outputElement.textContent;
    // // wrap the returnedText to limit number of characters to 20
    // let wrappedText = returnedText.match(/.{1,20}/g).join('\n');
    // outputCodeMirror.setValue(wrappedText);
    //   }
    // </script>
</body>

</html>